{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %}



<body>{% block content %}

    <div class="container">
        <h2 class="mt-4">Websites available</h2>
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="static/images/instargram.png" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 style="color: black;">instagram-clone</h5>
                        <p style="color: black;">This is a simple web clone of the instagram website.</p>

                    </div>
                </div>
                <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>ip4-jijini</h5>
                        <p>A web application that allows you to connect to your neighborhood about everything happening..</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>blog</h5>
                        <p>This is a flask application that allows writers to post blogs, edit and delete blogs.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden"style="color: black;">Previous</span>
  </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden" style="color: black;">Next</span>
  </button>
        </div>
        <div class="row">
            {% if posts %}

            <div class="templates display" style="background-color: aquamarine;">
                {% for post in posts %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="view overlay">
                            <img class="card-img-top" src="{{ post.photo.cdn_url }}" alt="{{photo.title}}">
                            <a href="{% url 'project' post.title %}">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title"><a href="{% url 'project' post.title %}">{{post.title|title}}</a> <a class="btn btn-sm btn-outline-info" href="{{ post.url }}"> View</a></h4>
                            <hr>
                            <p class="card-text "><img src="{{post.user.profile.profile_picture.url}}" class="nav-img mr-2" alt=""> By {{post.user.username|title}} <span style="float:right">{{post.date|date}}</span>


                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            {% endif %}
        </div>
        {% if user.is_authenticated %}
        <div class="modal fade bd-example-modal-xl" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Upload a project</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %} {{ form|crispy }}
                            <input type="submit" class="btn btn-sm btn-info" value="Save" />
                            <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Close
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

    </div>
    </div>
    {% endblock %}</body>